body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0.7;
  font-family: sans-serif;
  position: relative;
  display: flex;
  animation: bgChange 30s linear infinite; 
}

@keyframes bgChange {
  0%   { background: #ff0000; }    
  50%  { background: #790707; }  
  100% { background: #ff0000; }   
}
h1 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 50px;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.spiral {
      width: 80vmin;
      height: 80vmin;
      background:conic-gradient( from 0deg, #790707, #ff0000, #790707);
      border-radius: 50%;
      animation: spin 30s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @keyframes spin {
      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
    
.pill {
  position: absolute;
  width: 40px;
  height: 80px;
  background: linear-gradient(to right, #6a00ff, #ffffff);
  border-radius: 90px;
  opacity: 0;
  animation: floatPill 5s linear infinite;
}


@keyframes floatPill {
  0% {
    transform: translateY(100vh) rotate(0deg);
    opacity: 0;
  }
  10% { opacity: 1; }
  50% { transform: translateY(50vh) rotate(180deg); }
  90% { opacity: 1; }
  100% {
    transform: translateY(-50px) rotate(360deg);
    opacity: 0;
  }
}
.pill1  { left: 5%;   animation-delay: 0s;    animation-duration: 6s; }
.pill2  { left: 15%;  animation-delay: 1s;    animation-duration: 7s; }
.pill3  { left: 25%;  animation-delay: 2s;    animation-duration: 5s; }
.pill4  { left: 35%;  animation-delay: 0.5s;  animation-duration: 6.5s; }
.pill5  { left: 45%;  animation-delay: 1.5s;  animation-duration: 7s; }
.pill6  { left: 55%;  animation-delay: 2.5s;  animation-duration: 5.5s; }
.pill7  { left: 65%;  animation-delay: 0.2s;  animation-duration: 6s; }
.pill8  { left: 75%;  animation-delay: 1.2s;  animation-duration: 6.8s; }
.pill9  { left: 85%;  animation-delay: 2.2s;  animation-duration: 5.2s; }
.pill10 { left: 95%;  animation-delay: 0.8s;  animation-duration: 7.2s; }


.pill11 { left: 10%;  animation-delay: 0.7s;  animation-duration: 6.3s; }
.pill12 { left: 20%;  animation-delay: 1.7s;  animation-duration: 7.1s; }
.pill13 { left: 30%;  animation-delay: 2.7s;  animation-duration: 5.3s; }
.pill14 { left: 40%;  animation-delay: 0.9s;  animation-duration: 6.6s; }
.pill15 { left: 50%;  animation-delay: 1.9s;  animation-duration: 7.3s; }
.pill16 { left: 60%;  animation-delay: 2.9s;  animation-duration: 5.7s; }
.pill17 { left: 70%;  animation-delay: 0.4s;  animation-duration: 6.1s; }
.pill18 { left: 80%;  animation-delay: 1.4s;  animation-duration: 6.9s; }
.pill19 { left: 90%;  animation-delay: 2.4s;  animation-duration: 5.4s; }
.pill20 { left: 100%; animation-delay: 0.6s;  animation-duration: 7.4s; }
.pill21 { left: 7%;   animation-delay: 0.3s;  animation-duration: 6.2s; }
.pill22 { left: 17%;  animation-delay: 1.3s;  animation-duration: 7.5s; }
.pill23 { left: 27%;  animation-delay: 2.1s;  animation-duration: 5.6s; }
.pill24 { left: 37%;  animation-delay: 0.6s;  animation-duration: 6.7s; }
.pill25 { left: 47%;  animation-delay: 1.6s;  animation-duration: 7.1s; }
.pill26 { left: 57%;  animation-delay: 2.6s;  animation-duration: 5.9s; }
.pill27 { left: 67%;  animation-delay: 0.1s;  animation-duration: 6.4s; }
.pill28 { left: 77%;  animation-delay: 1.1s;  animation-duration: 6.6s; }
.pill29 { left: 87%;  animation-delay: 2.1s;  animation-duration: 5.1s; }
.pill30 { left: 97%;  animation-delay: 0.9s;  animation-duration: 7.6s; }

